<template lang='pug'>
  container
    div(
      slot='viewContent'
      style='margin-bottom: 100px'
    )
      sui-message(
        v-if='loading'
        header='loading...'
      )
      sui-grid(v-else)
        sui-grid-column(:width='10')
          h3 {{ lang.title }}
          sui-card(
            class='fluid'
            v-for='item, index in campaignSummary'
            :key='index'
          )
            sui-card-content
              sui-card-header {{ item.value }}
              sui-card-meta {{ lang[item.meta] }}
              sui-card-description(
                v-if='item.description'
              ) {{ lang[item.description] }}
            sui-card-content(
              extra
              v-if='item.meta === "requests"'
            )
              sui-button(
                basic
                primary
                icon='eye'
                size='tiny'
                @click='goToRequestList'
              ) {{ lang.viewRequests }}
        sui-grid-column(:width='6')
          contributeForm(
            :campaignAddress='address'
            :minimumContribution='minimumContribution'
          )
</template>

<script src='./campaignDetail.js' lang='babel'></script>
