<template lang='pug'>
  div(:class='$style.topBanner')
    | {{ globalLang.topBanner }}
</template>

<style src='./topBanner.sss' lang='postcss' module></style>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      globalLang: ({ language }) => language.global,
    }),
  },
};
</script>
