<template lang='pug'>
  sui-message(
    warning
    header='Note'
    :content='globalLang.transactionTime'
  )
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      globalLang: ({ language }) => language.global,
    }),
  },
};
</script>

