<template lang='pug'>
  sui-message(
    error
    header='Oops!'
    :content='errorMsg'
  )
</template>

<script>
export default {
  props: {
    errorMsg: {
      type    : String,
      required: true,
      default : '',
    },
  },
};
</script>

