<template lang='pug'>
  container
    div(
      slot='viewContent'
      style='margin-bottom: 100px'
    )
      sui-modal(
        v-model='showModal'
        :closable='false'
      )
        sui-modal-header {{ lang.successTitle }}
        sui-modal-content
          p {{ lang.successTipsStart }}
          sui-message(
            v-if='!newAddress'
            warning
            :content='lang.noAddressWarning'
          )
          p(
            v-else
            style='font-weight:bold; font-size: 18px;'
          ) {{ newAddress }}
          p {{ lang.successTipsEnd }}
        sui-modal-actions
          sui-button(
            :disabled='!newAddress'
            positive
            @click.native='copyConfirmed'
          ) {{ lang.copyConfirmed }}
      h2 {{ lang.formTitle }}
      sui-form(
        :error='!!errorMsg'
        :warning='loading'
      )
        h4 {{ lang.campaignName }}
        sui-form-field
          input(
            style='width: 450px'
            focus
            v-model.trim='campaignName'
            :placeholder='lang.campaignNamePlaceholder'
          )
        h4 {{ lang.campaignDesc }}
        sui-form-field
          textarea(
            style='width: 450px'
            rows='5'
            :maxlength='80'
            v-model.trim='campaignDesc'
            :placeholder='lang.campaignDescPlaceholder'
          )
        h4 {{ lang.minContribution }}
        p(style='color: rgba(0,0,0,.4)') {{ lang.minContributionDesc }}
        sui-form-field(inline)
          input(
            :value='minimumContribution'
            :placeholder='lang.minContributionPlaceholder'
            @input='onContributionInput'
          )
          sui-label(pointing='left') ether
        errorMessage(:errorMsg='errorMsg')
        warningMessage
        sui-button(
          type='submit'
          :content='lang.create'
          primary
          :disabled='disableFormSubmit'
          :loading='loading'
          @click='createCampaign'
        )
</template>

<script src='./newCampaign.js' lang='babel'></script>
