<template lang='pug'>
  div(
    :class='$style.viewContainer'
    is='sui-container'
  )
    Header
    Loading(v-if='loading' :text='loadingText')
    slot(v-else name='viewContent')
    Toast(:message='toastMsg')
</template>

<script>
import { mapState } from 'vuex';
import Loading from '@/components/Loading';
import Toast from '@/components/Toast';
import Header from '@/components/Header';

export default {
  name: 'Container',
  props: {
    loading    : Boolean,
    loadingText: String,
  },
  components: {
    Loading,
    Toast,
    Header,
  },
  computed: {
    ...mapState({
      toastMsg: ({ toast }) => toast.message,
    }),
  },
};
</script>

<style src='./container.sss' lang='postcss' module></style>
