<template lang='pug'>
  transition(name='fade' mode='in-out')
    div(:class='$style.toast' v-if='show') {{ message }}
</template>

<script>
export default {
  name: 'Toast',
  props: {
    message: String,
  },
  computed: {
    show() {
      return !!this.message;
    },
  },
};
</script>

<style src='./toast.sss' lang='postcss' module></style>
