<template lang='pug'>
  container
    div(
      slot='viewContent'
      style='margin-bottom: 100px'
    )
      h3(style='height: 42px; line-height: 42px;')
        span {{ lang.requestList }}
        sui-button(
          icon='arrow left'
          basic
          floated='right'
          @click='goToCampaignSummary'
        ) {{ lang.backToCampaignSummary }}
        sui-button(
          v-if='isManager'
          icon='add'
          primary
          floated='right'
          @click='addRequest'
        ) {{ lang.addRequest }}
      errorMessage(
        v-if='approveError || finalizeError'
        :errorMsg='approveError || finalizeError'
      )
      warningMessage(
        v-if='approveLoading || finalizeLoading'
      )
      sui-message(
        v-if='loading'
        header='loading...'
      )
      sui-message(
        warning
        v-else-if='!requestList.length'
        :header='lang.noRequests'
      )
      sui-table(
        v-else
        celled
        textAlign='center'
      )
        sui-table-header
          sui-table-row
            sui-table-header-cell(
              v-for='item, index in lang.tableHeaders'
              :key='index'
            ) {{ item }}
        sui-table-body
          requestTableRow(
            v-for='item, index in requestList'
            :key='index'
            :campaignAddress='address'
            :rowItem='item'
            :requestIndex='index'
            :totalApprovers='totalApprovers'
          )
      p(style='font-size: 16px')
        | {{ lang.totalRequests + requestCount }}
</template>

<script src='./requestList.js' lang='babel'></script>
