<template lang='pug'>
  sui-table-row(
    :positive='rowItem.approvalCount > (totalApprovers / 2) && !rowItem.complete'
  )
    sui-table-cell(:disabled='rowItem.complete')
      | {{ requestIndex + 1 }}
    sui-table-cell(:disabled='rowItem.complete')
      | {{ rowItem.description }}
    sui-table-cell(:disabled='rowItem.complete')
      | {{ fromWei(rowItem.value, 'ether') }}
    sui-table-cell(:disabled='rowItem.complete')
      | {{ rowItem.recipient }}
    sui-table-cell(:disabled='rowItem.complete')
      | {{ rowItem.approvalCount + '/' + totalApprovers }}
    sui-table-cell(:disabled='rowItem.complete')
      div(
        v-if='rowItem.complete'
        style='color: #21ba45'
      ) {{ lang.completed }}
      div(v-else)
        sui-button(
          :loading='approveLoading'
          :disabled='rowItem.approvalCount == totalApprovers'
          basic
          primary
          size='tiny'
          @click='approveRequest'
        ) {{ lang.approve }}
        sui-button(
          v-if='isManager'
          :loading='finalizeLoading'
          :disabled='rowItem.approvalCount <= (totalApprovers / 2)'
          basic
          positive
          size='tiny'
          @click='finalizeRequest'
        ) {{ lang.finalize }}
</template>

<script src='./requestTableRow.js' lang='babel'></script>
