<template lang='pug'>
  sui-menu
    sui-menu-item
      router-link(
        :to="{ name: 'home' }"
        :class='$style.homePageLink'
      ) {{ lang.siteName }}
    sui-menu-menu(position='right')
      sui-menu-item(right)
        sui-icon(name='list' color='blue')
        router-link(:to="{ name: 'home' }") {{ lang.campaignList }}
      sui-menu-item(right)
        sui-icon(name='add' color='blue')
        router-link(:to="{ name: 'newCampaign' }") {{ lang.newCampaign }}
      sui-menu-item(right)
        sui-flag(:name='langSetting === "CN" ? "cn" : "us"')
        a(
          :class='$style.languageButton'
          @click='changeLanguage'
        ) {{ langSetting }}
</template>

<style src='./header.sss' lang='postcss' module></style>
<script src='./header.js' lang='babel'></script>
