<template lang='pug'>
  transition(name='fade' mode='in-out')
    div(:class='$style.mask')
      div(:class='$style.content')
        div(:class='$style.spinner')
        p(:class='$style.text') {{ text }}
</template>

<script lang='babel'>
export default {
  name: 'Loading',
  props: {
    text: {
      type: String,
      default: '正在加载',
    },
  },
};
</script>

<style src='./loading.sss' lang='postcss' module></style>
