<template lang='pug'>
  div
    h3 {{ lang.formTitle }}
    sui-form(
      :error='!!errorMsg'
      :warning='loading'
    )
      sui-form-field(inline)
        input(
          focus
          :value='contribution'
          :placeholder='lang.inputPlaceholder'
          @input='onContributionInput'
        )
        sui-label(pointing='left') ether
      errorMessage(:errorMsg='errorMsg')
      warningMessage
      sui-button(
        type='submit'
        :content='lang.confirm'
        primary
        :disabled='disableFormSubmit'
        :loading='loading'
        @click='contributeToCampaign'
      )
</template>

<script src='./contributeForm.js' lang='babel'></script>
