<template lang='pug'>
  sui-grid(:class='$style.footer')
    sui-grid(
      :class='$style.footerWrapper'
      :columns='4'
      divided
    )
      sui-grid-column
        a(
          href='https://levblanc.com/blockchain/kickstarter-dapp.html'
          target='_blank'
        ) {{ lang.howTo }}
      sui-grid-column
        a(
          href='https://levblanc.com/blockchain/errors-and-faq.html'
          target='_blank'
        ) {{ lang.errorsAndFaq }}
      sui-grid-column
        a(
          href='https://levblanc.com/blockchain/'
          target='_blank'
        ) {{ lang.more }}
</template>

<style src='./footer.sss' lang='postcss' module></style>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      lang: ({ language }) => language.footer,
    }),
  },
};
</script>

