<template lang='pug'>
  div(:class='$style.wrapper')
    p(:class='$style.tip') 请求的路由为：{{ routePath }}
    p(:class='$style.tip') 没有找到对应的页面，请检查
</template>

<script>
export default {
  computed: {
    routePath() {
      return this.$route.fullPath;
    },
  },
};
</script>

<style src='./pageNotFound.sss' lang='postcss' module></style>
