<template lang='pug'>
  container
    div(
      slot='viewContent'
      style='margin-bottom: 100px'
    )
      sui-grid(:columns='1')
        sui-grid-column
          sui-message(
            v-if='loading'
            header='loading...'
          )
          sui-message(
            v-else-if='!campaignList.length'
            warning
            :header='lang.noCampaignWarning'
          )
          div(v-else)
            h3 {{ lang.openCampaigns }}
            sui-card(
              class='fluid'
              v-for='address, index in campaignList'
              :key='index'
            )
              sui-card-content
                sui-label(color='red' ribbon)
                  | {{ '#' + (campaignList.length - index - 1) }}
                p(style='padding: 2px')
                sui-card-header {{ address }}
                sui-card-description
                  router-link(
                    :to="{ name: 'campaignDetail', params: { address: address } }"
                  ) {{ lang.viewCampaign }}
                  a(
                    style='margin-left: 10px'
                    :href="'https://rinkeby.etherscan.io/address/' + address"
                    target='_blank'
                  ) {{ lang.viewOnEtherscan }}
</template>

<style src='./home.sss' lang='postcss' module></style>
<script src='./home.js' lang='babel'></script>
