<template lang='pug'>
  #app
    TopBanner
    router-view
    Footer
</template>

<script>
import { mapActions } from 'vuex';
import TopBanner from '@/components/TopBanner';
import Footer from '@/components/Footer';

export default {
  name: 'app',
  components: {
    TopBanner,
    Footer,
  },
  methods: {
    ...mapActions([
      'setLanguage',
    ]),
  },
  created() {
    this.setLanguage();
  },
};
</script>

<style src='./assets/styles/app.sss' lang='postcss'></style>
