<template lang='pug'>
  container
    div(
      slot='viewContent'
      style='margin-bottom: 100px'
    )
      h3 {{ lang.formTitle }}
      sui-form(
        :error='!!errorMsg'
        :warning='loading'
      )
        sui-form-field
          label {{ lang.descLabel }}
          input(
            v-model='description'
            :placeholder='lang.descPlaceholder'
          )
        sui-form-field
          label {{ lang.amountLabel }}
          input(
            focus
            :value='transferAmount'
            :placeholder='lang.amountPlaceholder'
            @input='onAmountInput'
          )
        sui-form-field
          label {{ lang.recipientLabel }}
          input(
            v-model='recipient'
            :placeholder='lang.recipientPlaceholder'
          )
        errorMessage(:errorMsg='errorMsg')
        warningMessage
        sui-button(
          type='submit'
          :content='lang.confirmCreate'
          primary
          :disabled='disableFormSubmit'
          :loading='loading'
          @click='createRequest'
        )
        sui-button(
          :content='lang.cancel'
          basic
          :disabled='loading'
          @click='backToRequestList'
        )
</template>

<script src='./requestCreate.js' lang='babel'></script>
